*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


.header{
	grid-area: header;
	width: 100%;
	height: 100%;
	background: #EFE2BA;
}

.header ul{
	display: inline-flex;
	margin: 50px;
}

.header ul li{
	list-style: none;
	margin: 0 20px;
	color: #4056A1 ;
}

.active{
	color: #F13c20 !important ;
}

.header a {
	color: #4056A1;
}

.header a:hover {
	color: #f13c20;
}

.title{
	top: 50px;
	right: 80px;
	position: absolute;
	text-decoration: none;
	cursor:default;
}

#map {
	height: 100%;
}

body {
	display: grid;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 100px;
	grid-template-columns: 100%;
	background-color: #EFE2BA;
	grid-template-areas: 
	"header header"
	"content content"
	"content content";
}

.container{
	width: 100%;
	margin: 0 auto;
}

.header a:hover{
	color:#FF6962;
}


.about {
	display: center;
    color: #4056A1 ;
	background-color: #EFE2BA;
	text-align: justify;
	height: auto;
    line-height: 30px;
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.about h2{
	color: #D79922;
}