body,html {
	margin:0;
	height:100%;
	width:100%;
}


body {
	display: grid;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 60px 1fr 40px;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"header header"
	"about about"
	"footer footer";
}

.container{
	width: 80%;
	margin: 0 auto;
}

.header {
	grid-area: header;
	padding-top:10px;
	padding-bottom: 10px;
	float: left;
	background-color: #71879A;
	color: #0A1126;
	font-style: italic;
	text-transform:uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 20px;
}


nav{
	text-align:center;
    width:750px;
	margin:0 auto;
    font-size:7px;
    text-transform:uppercase;
    letter-spacing:2px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	float: left;
	text-align: center;
	margin-left: 90px;
	padding-top: 10px;
}

nav a.active {
	background-color: #fff4ec;
	color: #c98686;
  }

nav a{

	color: #0A1126;
	display:inline-block;
    width: 150px;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	border-bottom:1px solid transparent;  
    border-top:1px solid transparent;   
}

nav a:hover{
	color:#FF6962;
}

nav a::before{
	content: '';
	display: block;
	height: 5px;
	background-color: #fff;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease in-out 250ms;

}



.footer {
	grid-area: footer;
	padding:10px;
	background-color: #71879A;
}


.about {
	display: center;
    color:#0A1126 ;
	background-color: #F2EFE9;
	text-align: justify;
	height: auto;
    line-height: 30px;
	padding-left: 120px;
	padding-right: 120px;
	padding-top: 20px;
}