body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	font-family: Arial, Helvetica, sans-serif;
	grid-template-rows: 60px 1fr 40px;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"header header"
    "content content"
	"footer footer";
}

.container{
	width: 80%;
	margin: 0 auto;
}

.header {
	grid-area: header;
	padding-top:10px;
	padding-bottom: 10px;
	float: left;
	background-color: #0a0a0a;
	color: #c98686;
	font-style: italic;
	text-transform:uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 20px;
}


nav{
	text-align:center;
    width:750px;
	margin:0 auto;
    font-size:7px;
    text-transform:uppercase;
    letter-spacing:2px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	float: left;
	text-align: center;
	margin-left: 90px;
	padding-top: 10px;
}

nav a.active {
	background-color: #fff4ec;
	color: #c98686;
  }

nav a{

	color: #f2b880;
	display:inline-block;
    width: 150px;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	border-bottom:1px solid transparent;  
    border-top:1px solid transparent;   
}

nav a:hover{
	color:rgb(139, 146, 209);
}

nav a::before{
	content: '';
	display: block;
	height: 5px;
	background-color: #fff;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease in-out 250ms;

}


.footer {
	grid-area: footer;
	padding:10px;
	background-color: #fff4ec;
}

.photo-row {
	/*flex: 25%;*/
	/*padding: 5px;*/
	display: center;
}

.pic{
	/*border: 1px solid rgba(0, 0, 0, 0.8);*/
	text-align: center;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
	background-color: #020202;
	padding: 20px;
	height: auto;
    color: aliceblue;
}

.pic img {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
